################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroRabbit/MicroRabbit.Infra.IoC/obj/project.nuget.cache
/MicroRabbit/MicroRabbit.Infra.IoC/obj/project.assets.json
/MicroRabbit/MicroRabbit.Infra.IoC/obj/MicroRabbit.Infra.IoC.csproj.nuget.g.targets
/MicroRabbit/MicroRabbit.Infra.IoC/obj/MicroRabbit.Infra.IoC.csproj.nuget.g.props
/MicroRabbit/MicroRabbit.Infra.IoC/obj/MicroRabbit.Infra.IoC.csproj.nuget.dgspec.json
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/ref/MicroRabbit.Infra.IoC.dll
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/ref
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.pdb
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.GeneratedMSBuildEditorConfig.editorconfig
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.dll
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.csproj.FileListAbsolute.txt
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.csproj.CoreCompileInputs.cache
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.csproj.CopyComplete
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.csproj.AssemblyReference.cache
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.assets.cache
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.AssemblyInfoInputs.cache
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/MicroRabbit.Infra.IoC.AssemblyInfo.cs
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/MicroRabbit/MicroRabbit.Infra.IoC/obj/Debug/net5.0
/MicroRabbit/MicroRabbit.Infra.IoC/obj
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0/ref/MicroRabbit.Infra.IoC.dll
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0/ref
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0/MicroRabbit.Infra.IoC.pdb
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0/MicroRabbit.Infra.IoC.dll
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0/MicroRabbit.Infra.IoC.deps.json
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0/MicroRabbit.Infra.Bus.pdb
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0/MicroRabbit.Infra.Bus.dll
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0/MicroRabbit.Domain.Core.pdb
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0/MicroRabbit.Domain.Core.dll
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/net5.0
/MicroRabbit/MicroRabbit.Infra.IoC
/MicroRabbit/MicroRabbit.Infra.Bus/obj/project.nuget.cache
/MicroRabbit/MicroRabbit.Infra.Bus/obj/project.assets.json
/MicroRabbit/MicroRabbit.Infra.Bus/obj/MicroRabbit.Infra.Bus.csproj.nuget.g.targets
/MicroRabbit/MicroRabbit.Infra.Bus/obj/MicroRabbit.Infra.Bus.csproj.nuget.g.props
/MicroRabbit/MicroRabbit.Infra.Bus/obj/MicroRabbit.Infra.Bus.csproj.nuget.dgspec.json
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/ref/MicroRabbit.Infra.Bus.dll
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/ref
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.pdb
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.GeneratedMSBuildEditorConfig.editorconfig
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.dll
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.csproj.FileListAbsolute.txt
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.csproj.CoreCompileInputs.cache
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.csproj.CopyComplete
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.csproj.AssemblyReference.cache
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.assets.cache
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.AssemblyInfoInputs.cache
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/MicroRabbit.Infra.Bus.AssemblyInfo.cs
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/MicroRabbit/MicroRabbit.Infra.Bus/obj/Debug/net5.0
/MicroRabbit/MicroRabbit.Infra.Bus/obj
/MicroRabbit/MicroRabbit.Infra.Bus/bin/Debug/net5.0/ref/MicroRabbit.Infra.Bus.dll
/MicroRabbit/MicroRabbit.Infra.Bus/bin/Debug/net5.0/ref
/MicroRabbit/MicroRabbit.Infra.Bus/bin/Debug/net5.0/MicroRabbit.Infra.Bus.pdb
/MicroRabbit/MicroRabbit.Infra.Bus/bin/Debug/net5.0/MicroRabbit.Infra.Bus.dll
/MicroRabbit/MicroRabbit.Infra.Bus/bin/Debug/net5.0/MicroRabbit.Infra.Bus.deps.json
/MicroRabbit/MicroRabbit.Infra.Bus/bin/Debug/net5.0/MicroRabbit.Domain.Core.pdb
/MicroRabbit/MicroRabbit.Infra.Bus/bin/Debug/net5.0/MicroRabbit.Domain.Core.dll
/MicroRabbit/MicroRabbit.Infra.Bus/bin/Debug/net5.0
/MicroRabbit/MicroRabbit.Infra.Bus
/MicroRabbit/MicroRabbit.Domain.Core/obj/project.nuget.cache
/MicroRabbit/MicroRabbit.Domain.Core/obj/project.assets.json
/MicroRabbit/MicroRabbit.Domain.Core/obj/MicroRabbit.Domain.Core.csproj.nuget.g.targets
/MicroRabbit/MicroRabbit.Domain.Core/obj/MicroRabbit.Domain.Core.csproj.nuget.g.props
/MicroRabbit/MicroRabbit.Domain.Core/obj/MicroRabbit.Domain.Core.csproj.nuget.dgspec.json
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/ref/MicroRabbit.Domain.Core.dll
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/ref
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/MicroRabbit.Domain.Core.pdb
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/MicroRabbit.Domain.Core.GeneratedMSBuildEditorConfig.editorconfig
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/MicroRabbit.Domain.Core.dll
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/MicroRabbit.Domain.Core.csproj.FileListAbsolute.txt
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/MicroRabbit.Domain.Core.csproj.CoreCompileInputs.cache
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/MicroRabbit.Domain.Core.csproj.AssemblyReference.cache
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/MicroRabbit.Domain.Core.assets.cache
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/MicroRabbit.Domain.Core.AssemblyInfoInputs.cache
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/MicroRabbit.Domain.Core.AssemblyInfo.cs
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/MicroRabbit/MicroRabbit.Domain.Core/obj/Debug/net5.0
/MicroRabbit/MicroRabbit.Domain.Core/obj
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/net5.0/ref/MicroRabbit.Domain.Core.dll
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/net5.0/ref
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/net5.0/MicroRabbit.Domain.Core.pdb
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/net5.0/MicroRabbit.Domain.Core.dll
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/net5.0/MicroRabbit.Domain.Core.deps.json
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/net5.0
/MicroRabbit/MicroRabbit.Domain.Core
/MicroRabbit/MicroRabbit.Banking.Domain/obj/project.nuget.cache
/MicroRabbit/MicroRabbit.Banking.Domain/obj/project.assets.json
/MicroRabbit/MicroRabbit.Banking.Domain/obj/MicroRabbit.Banking.Domain.csproj.nuget.g.targets
/MicroRabbit/MicroRabbit.Banking.Domain/obj/MicroRabbit.Banking.Domain.csproj.nuget.g.props
/MicroRabbit/MicroRabbit.Banking.Domain/obj/MicroRabbit.Banking.Domain.csproj.nuget.dgspec.json
/MicroRabbit/MicroRabbit.Banking.Domain/obj/Debug/net5.0/MicroRabbit.Banking.Domain.GeneratedMSBuildEditorConfig.editorconfig
/MicroRabbit/MicroRabbit.Banking.Domain/obj/Debug/net5.0/MicroRabbit.Banking.Domain.assets.cache
/MicroRabbit/MicroRabbit.Banking.Domain/obj/Debug/net5.0/MicroRabbit.Banking.Domain.AssemblyInfoInputs.cache
/MicroRabbit/MicroRabbit.Banking.Domain/obj/Debug/net5.0/MicroRabbit.Banking.Domain.AssemblyInfo.cs
/MicroRabbit/MicroRabbit.Banking.Domain/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/MicroRabbit/MicroRabbit.Banking.Domain/obj/Debug/net5.0
/MicroRabbit/MicroRabbit.Banking.Domain/obj
/MicroRabbit/MicroRabbit.Banking.Data/obj/project.nuget.cache
/MicroRabbit/MicroRabbit.Banking.Data/obj/project.assets.json
/MicroRabbit/MicroRabbit.Banking.Data/obj/MicroRabbit.Banking.Data.csproj.nuget.g.targets
/MicroRabbit/MicroRabbit.Banking.Data/obj/MicroRabbit.Banking.Data.csproj.nuget.g.props
/MicroRabbit/MicroRabbit.Banking.Data/obj/MicroRabbit.Banking.Data.csproj.nuget.dgspec.json
/MicroRabbit/MicroRabbit.Banking.Data/obj/Debug/net5.0/MicroRabbit.Banking.Data.GeneratedMSBuildEditorConfig.editorconfig
/MicroRabbit/MicroRabbit.Banking.Data/obj/Debug/net5.0/MicroRabbit.Banking.Data.assets.cache
/MicroRabbit/MicroRabbit.Banking.Data/obj/Debug/net5.0/MicroRabbit.Banking.Data.AssemblyInfoInputs.cache
/MicroRabbit/MicroRabbit.Banking.Data/obj/Debug/net5.0/MicroRabbit.Banking.Data.AssemblyInfo.cs
/MicroRabbit/MicroRabbit.Banking.Data/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/MicroRabbit/MicroRabbit.Banking.Data/obj/Debug/net5.0
/MicroRabbit/MicroRabbit.Banking.Data/obj
/MicroRabbit/MicroRabbit.Banking.Application/obj
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation-unobtrusive
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation/LICENSE.md
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation/dist/jquery.validate.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation/dist/additional-methods.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation/dist
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery-validation
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery/LICENSE.txt
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery/dist/jquery.min.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery/dist/jquery.min.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery/dist/jquery.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery/dist
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/jquery
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/LICENSE
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/js/bootstrap.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap.css
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist/css
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap/dist
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib/bootstrap
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/lib
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/js/site.js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/js
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/favicon.ico
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/css/site.css
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot/css
/MicroRabbit/MicroRabbit.Banking.Api/wwwroot
/MicroRabbit/MicroRabbit.Banking.Api/Properties
/MicroRabbit/MicroRabbit.Banking.Api/Pages
/MicroRabbit/MicroRabbit.Banking.Api/obj
/MicroRabbit/MicroRabbit.Banking.Api
/MicroRabbit/.vs/MicroRabbit
/MicroRabbit
/.vs
